.btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn__container_btnStyles {
    width: 353px;
    height: 90px;
    background-color: #007aff;
    border: 0;
    border-radius: 60px;
}

.mobile__btn__container_btnStyles {
    width: 180px;
    height: 90px;
    background-color: #007aff;
    border: 0;
    border-radius: 60px;
}