@import "./title.css";
@import "./mobileTitle.css";

body {
  margin: 0;
  padding: 0;
  background-color: #FAFCFF;
  height: 100vh;
}

a { 
  text-decoration: none;
  color: black;
}

footer {
  margin-bottom: 0;
}